[submodule "Lab1-Rna/lib/google_tests"]
	path = Lab1-Rna/lib/google_tests
	url = https://github.com/google/googletest.git
[submodule "Lab2-Life/lib/fmt"]
	path = Lab2-Life/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Lab2-Life/lib/google_tests"]
	path = Lab2-Life/lib/google_tests
	url = https://github.com/google/googletest
[submodule "Lab3-Robots/lib/fmt"]
	path = Lab3-Robots/lib/fmt
	url = https://github.com/fmtlib/fmt
